body{
	
	
	background-color: #eeeeee;
}

header {
    background-color:  #ffffff;
    -webkit-border-radius: 40px;    /* 背景色指定 */
}
 
footer {
    background-color: #eeeeee;
}
 
main {
    background-color: #eeeeee;  
    -webkit-border-radius: 5px;  /* 背景色指定 */
    padding:  10px;            /* 余白指定 */
    overflow:  hidden;         /* floatで高さがなくなる問題解消 */
}
 
.main_visual {
    background-color:  #ccc;    /* 背景色指定 */
    text-align:  center;        /* 文字中央揃え */
    padding: 30px;              /* 余白指定 */
}
 
.side {
    background-color: #ffffff;    /* 背景色指定 */
    width: 20%; 
    -webkit-border-radius: 10px;
    text-align:  center;               /* 幅指定 */
    float:  left;              /* 要素を並べる */
    height: auto;             /* 高さ指定 */
}
 
.main_content {
    background-color: #ffffff;
    width: 70%;
    -webkit-border-radius: 10px;
    margin-right: 2.5%;
    float: left;
    height: auto;
    margin-left: 7.0%;
}

 header{
  position: relative;
  color: #158b2b;s
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}

h1:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.box1 p {
  position: relative;
  padding-bottom: .5em;
  border-bottom: 4px solid #ccc;
  text-align: center;
}
.box1 p::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #3498db;
}

.id {
    font-size: 50%;
    margin-block-start: -1em;
    margin-block-end: -11.5px;
}




.box11 {
    width: 65%;
    height: auto;
    padding: 0.5em 0.5em;
    /* margin: 2em 0; */
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    /* text-align: center; */
    margin-left: 17%;
    margin-top: 1%;
    /* margin-inline-end: 0%; */
}
