

/*コンテンツ　実際に使うページの設定*/
.contents{
width:852px;/*横幅を852pxで指定*/
margin:0 auto;
background-color:#dddde2;
position:relative;/*相対的な位置へ配置*/
font-size:80%;/*文字は見やすいように少し小さめに設定*/
}


/*ヘッダー部分の設定*/
.header{
background-color:#fe3834;
height:100px; /*ヘーダーの高さメニュー部分まで合わせたサイズを指定*/
}

h1 {
  position: relative;
  color: #158b2b;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
h1:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.box1 p {
  position: relative;
  padding-bottom: .5em;
  border-bottom: 4px solid #ccc;
  text-align: center;
}
.box1 p::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #3498db;
}





.box11{
	width: 320px;
   
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 tr {
    margin: 0;
    padding: 0;
}


.box4{
	width: 320px;
    height: 240px;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.box4:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box4 p {
    margin: 0;
    padding: 0;
}








