.message {
	font-size: 60px;
	color: red;
	width: 700px;
	background-color: white;
}

.card {
	padding: 2px;
	background: #ffffff;
	width: 900px;
	height: 100px;
	left: 10px;
	margin: 10px;
	border-radius: 15px;
	z-index: 0;
}
.id{
	color:red;
}
hr {
	margin: 0;
	height: 6px;
	background-image: radial-gradient(closest-side, hsla(0, 0%, 50%, 1.0),
		hsla(0, 0%, 50%, 0) 100%);
}

html {
	height: 1400px;
	width: 1400px;
	overflow: scroll;
	margin: 0 auto;
	padding: 0;
}

.card-content {
	height: 100%;
	width: 100%;
}

body {
	height: 1400px;
	background-color: lightgrey;
	width: 1400px;
	margin: 0 auto;
	padding: 0;
}

/*.card a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 3;
}*/
.card  :hover {
	background-color: blue;
	font-color: white;
}

div>div.media-content {
	position: absolute;
	font-size: 190%;
	color: black;
	height: 50px;
	width: 95%;
	z-index: 2;
	pointer-events: none;
}

div.content {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 2;
	pointer-events: none;
}

body>h1 {
	font-size: 100px;
	background-color: white;
	color: #00BCD4;
	text-shadow: 2px 2px #fff, 5px 5px rgba(0, 188, 212, 0.4);
}

input.forward {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 2;
	cursor: pointer;
	background-color: white;
	border-radius: 7px;
}

/*input.forward :hover {
	background: #67c5ff;
	color: blue;
	position: absolute;
	z-index: 2;
}*/
input.new {
	width: 300px;
	height: 70px;
	text-align: center;
	position: relative;
	bottom: 325px;;
	left: 1000px;
	font-size: 25px;
	color: blue;
	border: solid 2px #67c5ff;
	background: white;
	cursor: pointer;
}

input.new:hover {
	background: #67c5ff;
	color: white;
}